*{
	margin 0;
	padding 0;
	outline: none;
	text-decoration: none;
	color: #000;
}
body
{
	background: #efefef url(images/bg.jpg);
	background-size: 100%;
	
}
div.vk
{
	margin: 5%;
}
.footer{
	position:fixed;
	top:10px;
	right:10px;
	z-index:999999;
}
.footer a{
	color:#888;
	text-decoration:none;
	text-shadow:1px 1px 1px #fff;
	font-size:25px;
	padding-right:20px;

}
.footer a:hover{
	color:#000;
}